.Left{
    display: flex;
    flex-direction: column;
    max-width: 26vw;
    max-height: 100vh;
    min-height: 100vh;
    justify-content: center;
    align-items: flex-end;
    float: right;
    background-color: black;
    overflow: hidden;
    position: sticky;
    top: 0;
}
.Left a{
    text-decoration: none;
    font-size: 19px;
    margin: 20px auto;
    color: white;
}
.Left a:hover{
    color: rgb(29, 161, 242);
}

.twitter{
    width: 30px;
    height: 30px;
}
@media screen and (max-width:700px) {
    .Left a{
        margin: 10px auto;
        font-size: 1.2rem;
    }
}
@media screen and (max-width:400px) {
    .Left a{
        margin: 5px auto;
        font-size: 0.8rem;
    }
}