.home{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "left post right" ;
}

.Left{
    grid-area: "left";
}
.Posts{
    grid-area: "post";
}
.Right{
    grid-area: "right";
    
}

@media screen and (max-width: 1015px){
    .home{
        grid-template-columns: 1.5fr 2fr fr;
        grid-template-areas: "left post" ;
    }
    /* Right{
        display: none;
    } */
}

@media screen and (max-width:660px){
    .home{
        grid-template-columns: 0.5fr 2.5fr;
    }
    Posts{
        margin-right: 10px;
    }
}