.authentication{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 100vw;
}

.authentication .main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}
.authentication .main .logo{
    width: 70%;
    min-height: 100px;
    margin-bottom:15px ;
}
.authentication .main .logo img{
    height: 100%;
    width: 100%;
}
.authentication .main .authDesc{
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 30px;
}
.authentication .main form{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 70%;
}

.authentication .main form input{
    display: block;
    border: none;
    outline: none;
    border-bottom: 3px solid gray;
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    font-size: 1.3rem;
}
.authentication .main .button{
    width: 70%;
}

.authentication .main .button button{
    width: 100%;
    background-color:rgba(29,161,242,1.00) ;
    outline: none;
    border: none;
    border-radius: 100px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 20px;
}
.error{
    text-align: center;
    font-size: 1.2rem;
    margin-top: 10px;
    height: 200px;
}
@media screen and (max-width: 1000px){
    .authentication .main{
        width: 80%;
    }
    .authentication .main form{
        width: 90%;
    }
    .authentication .main .button{
        width: 90%;
    }
}