.home{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "left post right" ;
}

.Left{
    grid-area: "left";
}
.Posts{
    grid-area: "post";
}
.Right{
    grid-area: "right";
    
}
.edit{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    color: white;
    flex-direction: column;
}

.submit{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: 1px solid blue;
    background-color: black; 
    color: white;
    font-size: 0.9rem;
    border-radius: 50px;
    transition: all 0.2s ease-in;
}
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1.5rem;
}
.editForm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100vh;
}
.form input{
    font-size: 1.4rem;
    margin-bottom:10px ;
}
.submit:hover{
    background-color: blue;
}

@media screen and (max-width:1015px){
    .home{
        grid-template-columns: 0fr 1fr 0fr;
        grid-template-areas: "post";
    }
    .form input{
        font-size: 0.9rem;
    }
}